<%-include('header')-%>

<div class="text-center center-div mt-5" id="login">
    <div class="container border py-1 mt-2">
        <h3 class="title-dashboard mt-2">Welcome to Schedule</h3>
        <form class="form-container" action="http://localhost:5000/newUser" method="POST">

            <span id="inputGroup-sizing-sm">Name</span>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="first_name">

            <span id="inputGroup-sizing-sm">Last Name</span>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="surname">

            <span id="inputGroup-sizing-sm">Email</span>
            <input type="email" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="email">

            <span id="inputGroup-sizing-sm">Password</span>
            <input type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="password">

            <button type="submit" class="btn btn-secondary rounded-pi">New User</button>
        </form>
    </div>
</div>

<%-include('footer')-%>